.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: burlywood; */
    background-image: url(../../../assets/a.png);
    opacity: 0.8 ;
    
    /* background-repeat: no-repeat ; */
    object-fit: contain;
}

.Login {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 20px
    
}

.image {
    width: 90%;
    height: 100%;
    background-image: url(../../../assets/img.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: auto;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}

.loginform {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
    color: white;
    /* background-color: black;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    background-image: url(./../../assets/bg.jpg);
    background-repeat: no-repeat; */

}

.button {
    position: relative;
    margin-left: 34%;
}

.text-field{
    display: flex;
    flex-direction: column;
}

.input-text{
    border: none;
    height: 40px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 10px;
    
}

.label{
    color: white;
    font-size: 1.2rem;

}
.sized-box{
    height: 10px;
}
.button{
    background-color: bisque;
    border: none;
    text-decoration: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;

}