.pro_parent {
    height: 250px;
    width: 200px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

/* .pro_hover {
    position: absolute;
    background-color: black;
    height: 50px;
    width: 50px;
    transform: translateY(100%);
    transition: .2s ease-in-out;
    z-index: 0;
    opacity: 0;
} */

.pro_card {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
}



.pro_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50%;
    width: 100%;
}

.pro_details {
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;

}

.pro_title {
    width: 100%;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
}

.pro_des {
    width: 100%;
    color: var(--secondary);
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
}

.pro_qty_pr {

    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: space-between;
}

.pro_qty {
    padding: 5px;
    color: var(--black);
    font-size: 1rem;
    font-weight: 400;
}

.pro_price {
    padding: 5px;
    color: var(--black);
    font-size: 1rem;
    font-weight: 400;

}

.pro_edit_del {
    opacity: 0;
}

.pro_edit_btn {
    opacity: 0;
}

.pro_del_btn {
    opacity: 0;
}
.pro_button{
    height: auto;
    width: 40%;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5%;
}

/* .pro_parent:hover .pro_hover {
    opacity: 1;
    transform: translateY(0);
} */

.pro_parent:hover .pro_card .pro_image {
    /* opacity: 0; */
    height: 35%;
}

.pro_parent:hover .pro_card .pro_details {
    /* opacity: 0; */
    height: 65%;
}

.pro_edit_del {
    opacity: 1;
}

.pro_parent:hover .pro_edit_btn {
    opacity: 1;
}

.pro_parent:hover .pro_del_btn {
    opacity: 1;
}

.edit_popup{
    width: 1000px;
    height: 500px;
    background-color: yellow;
}