.head{
    background-image: url(../../../assets/a.png);
    background-repeat: no-repeat;
    object-fit:scale-down;
    background-size:cover ;
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}


.a-register{
    background-image: url(../../../assets/bg.jpg);
    object-fit:scale-down;
    object-fit: fill;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}
.name{
    font-family:cursive;
    color:beige ;
    padding: 0%;

}
p{
    color: aquamarine;
    
}

.b-form{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}


.text-field{
    display: flex;
    /* flex-direction: column; */
}

.input-text{
    border: none;
    height: 40px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 10px;
    
}
.size{
    width: 80px;
}

.size-h{
    height: 20px;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.label{
    color: white;
    font-size: 1.2rem;

}
.sized-box{
    height: 10px;
}
.button{
    background-color: bisque;
    border: none;
    text-decoration: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}