.head{
    background-image: url(./../../assets/a.png);
    background-repeat: no-repeat;
    object-fit:scale-down;
    background-size:cover ;
    height:90vh;
    width:100%;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    color:aliceblue;
}
.name{
    font-family:cursive;
    color:beige ;

}