:root {
  --primary: #112D4E;
  --secondary: #3F72AF;
  --light: #F9F7F7;
  --background: #DFF6FF;
  --sky: #F9F7F7;
  --white: white;
  --black: black;
}
*{
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}