.aml_cart_item {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
}

.aml_cart_box img {
    width: 50px;
    height: 50px;
}

.aml_cart_img {
    display: flex;
    width: 400px;
}

.aml_cart_img p {
    font-weight: bold;
    margin-left: 10px;
}

.aml_cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
}

.aml_cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.aml_cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.aml_cart_box div:nth-child(3) button:hover {
    background-color: darkseagreen;
}

.aml_cart_box div:nth-child(3) span {
    background-color: yellowgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.aml_total {
    display: flex;
    justify-content: space-between;
}

.aml_total span:nth-child(1) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
    letter-spacing: 2px;
}

.aml_total span:nth-child(2) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
}